@import '../../global.scss';

.search {
  @include themify($themes) {
    display: flex;
    align-items: center;
    border: 2px solid themed('border');
    border-radius: 5px;

    .searchInput {
      padding: 10px;
      border: none;
      outline: none;
      background-color: transparent;
      color: themed('textColorTop');

      &::placeholder {
        color: themed('textColorTop');
      }
    }
    .searchBtn {
      padding: 5px;
      background-color: transparent;
      border: none;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        width: 25px;
      }
    }
  }
}
